openai>=1.0.0
llama-index-core>=0.12.0
llama-index-embeddings-huggingface>=0.4.0
llama-index-embeddings-ollama>=0.4.0
llama-index-embeddings-openai>=0.4.0
sentence-transformers>=2.6.1
Flask==3.1.2
opencc-python-reimplemented==0.1.7
gunicorn==23.0.0
